<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7f4aae58a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Compostaje</title>
</head>

<body>
    <header>
        <div class="contenedorimagen">
            <img class="img" src="/public/img/logo.jpg" alt="logo de la empresa">
        </div>
        <div>
            <nav>
                <a href="concientizacion.html">Sustentabilidad</a>
                <a href="recoleccionSelectiva.html">Recolección Selectiva</a>
                <a href="compostaje.html">Compostaje</a>
                <a href="tienda.html"><i class="fa-solid fa-shop" style="color: #557761;"></i>Tienda</a>


            </nav>
        </div>
    </header>
    <main>
        <h1 class="bloque">Compostaje</h1>

        <p>
            Las cuatro fases del compostaje
            El equilibrio entre nitrógeno y carbono es solo una de las claves del compostaje. Además de los dos
            elementos químicos que aporta la materia orgánica, el proceso se desarrolla en presencia de oxígeno y agua
            siguiendo cuatro fases bien diferenciadas, tal como señala el documento de la Organización de las Naciones
            Unidas para la Agricultura y la Alimentación (FAO).
        </p>
        <div class="cuerpo">

            <img src="/public/img/compostajeA.jpg" alt="">
            <p>Fase 1 mesófila.

                El proceso de compostaje se inicia a temperatura ambiente y poco a poco, con el paso de entre unas pocas
                horas y días, la temperatura de la mezcla va aumentando debido a la actividad de los microorganismos.
                “Si los microorganismos no tienen oxígeno y humedad, dejan de actuar, la mezcla acaba enfriándose y el
                proceso de compostaje se frena”, señala Pilar Bernal. El objetivo es alcanzar entre 50 y 70 grados
                centígrados.

            </p>

            <img src="/public/img/compostajeB.jpg" alt="">
            <p>Fase 2 termófila o de higienización.

                Una vez superados los 45 grados, los organismos que se desarrollan a estas temperaturas, los llamados
                mesófilos, desaparecen y son reemplazados por microorganismos que soportan hasta 100 grados, los
                termófilos. Esta temperatura se mantiene mientras continúa el proceso de descomposición de la materia
                orgánica y puede durar meses. Las altas temperaturas contribuyen a la higienización de la mezcla, ya que
                destruyen cualquier tipo de contaminante

            </p>

            <img src="/public/img/compostajeC.jpg" alt="">
            <p>Fase 3 mesófila o fase de enfriamiento.

                “Después de la fase termófila, vuelve a bajar la temperatura. En ese momento, debemos decidir si
                volteamos la mezcla para homogeneizarla y volver a elevar la temperatura o dejar que esta vaya bajando”,
                explica Neus Vinyals. En esta fase, más cercana a la temperatura ambiente, continúa la descomposición y
                los organismos mesófilos se reactivan.

            </p>

            <img src="/public/img/compostajeD.jpg" alt="">
            <p>Fase 4 de maduracion.

                Tras un periodo de enfriamiento, una vez la producción del compost se ha completado, llega el momento de
                la maduración. Esta última fase del proceso se produce a temperatura ambiente y permite la consolidación
                de nuevas moléculas. Durante varios meses, el compost madura y suma nuevas poblaciones microbianas, así
                como nuevos grupos de organismos como anélidos, ácaros o insectos que completan la transformación.

            </p>
        </div>

        <a href="index.html">Ir al Home</a>

    </main>
    <footer>
        <div class="menufooter">
            <h3><i class="fa-solid fa-location-dot"></i>Nuestra Ubicación</h3>
            <h4>Diagonal 73 nro 111 - La Plata - Pcia de Bs. As.</h4>
            <h3><i class="fa-solid fa-phone" style="color: #557761;"></i>Comunicate con nosotros</h3>
            <h4>tel (221) 555-5555</h4>
        </div>
        <div class="menufooter">
            <h3>Redes</h3>
            <h4><i class="fa-brands fa-instagram" style="color: #557761;"></i>Instagram</h4>
            <h4><i class="fa-brands fa-facebook" style="color: #557761;"></i>Facebook</h4>
            <h4><i class="fa-brands fa-twitter" style="color: #557761;"></i>twitter</h4>
            <h4><i class="fa-brands fa-whatsapp" style="color: #557761;"></i>whatsapp</h4>
        </div>
        <div class="menufooter">
            <h3>Medios de Pagos</h3>
            <h4>Aceptamos todos los medios de pagos</h4>
            <i class="fa-solid fa-credit-card" style="color: #557761;"></i>
            <i class="fa-brands fa-paypal" style="color: #557761;"></i>
        </div>
        <div class="menufooter3">
            <h3>Nuestro horario</h3>
            <h4>Lunes a viernes de 8 a 16 hs.</h4>
            <h3>Escribinos</h3>
            <i class="fa-solid fa-envelope" style="color: #557761;"></i>
            <h4>energiaviva@gmail.com</h4>
        </div>
        <div class="derechos">
            <h4>Todos los derechos reservados - Energía Viva</h4>
            <i class="fa-regular fa-registered" style="color: #557761;"></i>
        </div>

    </footer>
</body>

</html>