<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7f4aae58a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Concientización</title>
</head>

<body>
    <header>
        <div class="contenedorimagen">
            <img class="img" src="/public/img/logo.jpg" alt="logo de la empresa">
        </div>

        <div>
            <nav>
                <a href="concientizacion.html">Sustentabilidad</a>
                <a href="recoleccionSelectiva.html">Recolección Selectiva</a>
                <a href="compostaje.html">Compostaje</a>
                <a href="tienda.html"><i class="fa-solid fa-shop" style="color: #557761;"></i>Tienda</a>

            </nav>
        </div>
    </header>
    <main>
        <div>
            <h1 class="bloqueconcientizacion">Sustentabilidad</h1>
            <p>La concientización es un elemento clave en la gestión y reciclaje de residuos, ya que ayuda a promover un
                cambio
                de actitud y comportamiento en la comunidad. Aquí hay algunas estrategias efectivas para promover la
                concientización:

                Campañas de educación: Organiza campañas educativas que incluyan talleres, charlas y actividades
                interactivas.
                Utiliza diversos materiales, como folletos, carteles y videos, para explicar los conceptos básicos de la
                gestión
                de residuos y el reciclaje, así como los beneficios ambientales y económicos asociados.

                Participación comunitaria: Fomenta la participación activa de la comunidad en la gestión de residuos y
                el
                reciclaje. Organiza eventos, como limpiezas comunitarias y días de reciclaje, donde los residentes
                puedan
                involucrarse de manera práctica y aprender sobre la importancia de su papel en la reducción de residuos.

                Programas educativos en escuelas: Colabora con escuelas y colegios para implementar programas educativos
                sobre
                la gestión de residuos y el reciclaje. Esto puede incluir charlas en el aula, proyectos de investigación
                y
                actividades prácticas para fomentar la participación de los estudiantes y enseñarles desde una edad
                temprana
                sobre la importancia de cuidar el medio ambiente.

                Uso de medios de comunicación: Aprovecha los medios de comunicación locales, como periódicos, radio y
                televisión, para difundir mensajes de concientización sobre la gestión de residuos y el reciclaje.
                Puedes
                colaborar con periodistas o producir anuncios y programas especiales que destaquen las prácticas
                adecuadas
                de
                reciclaje y cómo los residentes pueden contribuir.

                Redes sociales y sitios web: Crea páginas en redes sociales y sitios web dedicados a la gestión de
                residuos
                y el
                reciclaje en tu comunidad. Publica regularmente consejos, noticias y actualizaciones sobre eventos
                relacionados
                con el reciclaje. Anima a los seguidores a compartir sus propias ideas y experiencias sobre cómo reducir
                y
                reciclar residuos.

                Ejemplos y casos de éxito: Destaca ejemplos y casos de éxito de personas o empresas en la comunidad que
                estén
                implementando prácticas sostenibles de gestión de residuos y reciclaje. Esto puede inspirar a otros y
                mostrarles
                que el cambio es posible.

                Incentivos y recompensas: Ofrece incentivos y recompensas a aquellos que participen activamente en la
                gestión de
                residuos y el reciclaje. Esto puede incluir descuentos en productos sostenibles, reconocimiento público
                o
                premios para motivar a la comunidad a adoptar hábitos responsables.

                Recuerda que la concientización debe ser constante y continua. No te limites a una sola campaña, sino
                que
                busca
                formas de mantener la atención de la comunidad a lo largo del tiempo, reforzando los mensajes y
                proporcionando
                recordatorios periódicos sobre la importancia de la gestión adecuada de los residuos y el reciclaje.</p>

            <section>
                <article class="concientizacion1">
                    <h3>Diagnóstico</h3>
                    <ul>
                        <li>Evalucion del desempeño ambiental</li>
                        <li>Indicadores de sustentabilidad</li>
                        <li>identificacion de aspectos criticos</li>
                    </ul>
                </article>
            </section>

            <section>
                <article class="concientizacion2">
                    <h3>Implementación</h3>
                    <ul>
                        <li>Establecimiento de metas</li>
                        <li>Plan de acción</li>
                        <li>Monitoreo y control</li>
                    </ul>
                </article>
            </section>

            <section>
                <article class="concientizacion3">
                    <h3>Mejora continua</h3>
                    <ul>
                        <li>Evaluaciones periódicas de la gestión de la sustentabilidad</li>
                        <li>Cumplimiento de normas y regulaciones ambientales</li>
                        <li> capacitación constante</li>
                    </ul>
                </article>
            </section>

            <a href="index.html">Ir al Home</a>
    </main>
    <footer>
        <div class="menufooter">
            <h3><i class="fa-solid fa-location-dot"></i>Nuestra Ubicación</h3>
            <h4>Diagonal 73 nro 111 - La Plata - Pcia de Bs. As.</h4>
            <h3><i class="fa-solid fa-phone" style="color: #557761;"></i>Comunicate con nosotros</h3>
            <h4>tel (221) 555-5555</h4>
        </div>
        <div class="menufooter">
            <h3>Redes</h3>
            <h4><i class="fa-brands fa-instagram" style="color: #557761;"></i>Instagram</h4>
            <h4><i class="fa-brands fa-facebook" style="color: #557761;"></i>Facebook</h4>
            <h4><i class="fa-brands fa-twitter" style="color: #557761;"></i>twitter</h4>
            <h4><i class="fa-brands fa-whatsapp" style="color: #557761;"></i>whatsapp</h4>
        </div>
        <div class="menufooter">
            <h3>Medios de Pagos</h3>
            <h4>Aceptamos todos los medios de pagos</h4>
            <i class="fa-solid fa-credit-card" style="color: #557761;"></i>
            <i class="fa-brands fa-paypal" style="color: #557761;"></i>
        </div>
        <div class="menufooter3">
            <h3>Nuestro horario</h3>
            <h4>Lunes a viernes de 8 a 16 hs.</h4>
            <h3>Escribinos</h3>
            <i class="fa-solid fa-envelope" style="color: #557761;"></i>
            <h4>energiaviva@gmail.com</h4>
        </div>
        <div class="derechos">
            <h4>Todos los derechos reservados - Energía Viva</h4>
            <i class="fa-regular fa-registered" style="color: #557761;"></i>
        </div>

    </footer>
</body>

</html>