<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!---Iconos-->
    <script src="https://kit.fontawesome.com/a7f4aae58a.js" crossorigin="anonymous"></script>
    <!---Tipografía-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!---Estilos Propios--->
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Energía Viva</title>
</head>

<body>

    <header>
        <div class="contenedorimagen">
            <img class="img" src="/public/img/logo.jpg" alt="logo de la empresa">
        </div>
        <div>
            <nav>
                <a href="concientizacion.html">Sustentabilidad</a>
                <a href="recoleccionSelectiva.html">Recolección Selectiva</a>
                <a href="compostaje.html">Compostaje</a>
                <a href="tienda.html"><i class="fa-solid fa-shop" style="color: #557761;"></i>Tienda</a>

            </nav>
        </div>
    </header>
    <section class="contenedoresIndex">
        <!---UN CONTENEDOR-->
            <div class="contenedor">
                <i class="fa-brands fa-pagelines"></i>
                <h3>Nosotros</h3>
                <p>Ofrecemos un servicio de excelencia referido a la gestión ambiental garantizando la satisfacción del cliente y respectando la normativa vigente</p>
            </div>
        

        <!---UN CONTENEDOR-->

        
            <div class="contenedor">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <h3>Valores</h3>
                <p>Se centran en la integridad y respeto a las personas, en la responsabilidad medioambiental.</p>
            </div>
        

        <!---UN CONTENEDOR-->
        
            <div class="contenedor">
                <i class="fa-solid fa-seedling"></i>
                <h3>Etica</h3>
                <p>Consideramos imprescindible colocar los más altos estándares éticos como empresa al servicio de la sociedad.</p>
            </div>
        

        <!---UN CONTENEDOR-->
        
            <div class="contenedor">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Proveedores</h3>
                <p>Nuestra máxima prioridad es elegir proveedores que nos acompañen a cumplir nuestros objetivos.
                </p>
            </div>
        
    </section>

    <main class="mainIndex">
        <div class="bloque1">

            <a class="enlace" href="concientizacion.html">Sustentabilidad</a>

        </div>

        <div class="bloque2">

            <a class="enlace" href="recoleccionSelectiva.html">Recolección Selectiva</a>

        </div>

        <div class="bloque3">

            <a href="compostaje.html" class="enlace">Compostaje</a>


        </div>

        <div class="bloque4">

            <a href="tienda.html" class="enlace">Tienda</a><i class="fa-solid fa-cart-shopping"
                style="color: #f1fbf5;"></i>


        </div>

    </main>
    <footer>
    
        <div class="menufooter">
            <h5><i class="fa-solid fa-location-dot"></i>Nuestra Ubicación</h5>
            <h6>Diagonal 73 nro 111 - La Plata - Pcia de Bs. As.</h6>
            <h5><i class="fa-solid fa-phone" style="color: #557761;"></i>Comunicate con nosotros</h5>
            <h6>tel (221) 555-5555</h6>
        </div>
        <div class="menufooter">
            <h5>Redes</h5>
            <h6><i class="fa-brands fa-instagram" style="color: #557761;"></i>Instagram</h6>
            <h6><i class="fa-brands fa-facebook" style="color: #557761;"></i>Facebook</h6>
            <h6><i class="fa-brands fa-twitter" style="color: #557761;"></i>twitter</h6>
            <h6><i class="fa-brands fa-whatsapp" style="color: #557761;"></i>whatsapp</h6>
        </div>
        <div class="menufooter">
            <h5>Medios de Pagos</h5>
            <h6>Aceptamos todos los medios de pagos</h6>
            <i class="fa-solid fa-credit-card" style="color: #557761;"></i>
            <i class="fa-brands fa-paypal" style="color: #557761;"></i>
        </div>
        <div class="menufooter3">
            <h5>Nuestro horario</h5>
            <h6>Lunes a viernes de 8 a 16 hs.</h6>
            <h5>Escribinos</h5>
            <i class="fa-solid fa-envelope" style="color: #557761;"></i>
            <h6>energiaviva@gmail.com</h6>
        </div>
        <div class="derechos">
        <h6>Todos los derechos reservados - Energía Viva</h6>
        <i class="fa-regular fa-registered" style="color: #557761;"></i>
        </div>

    </footer>

</body>


</html>