<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7f4aae58a.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Recolección Selectiva</title>
</head>

<body>
    <header>
        <div class="contenedorimagen">
            <img class="img" src="/public/img/logo.jpg" alt="logo de la empresa">
        </div>

        <div>
            <nav>
                <a href="concientizacion.html">Sustentabilidad</a>
                <a href="recoleccionSelectiva.html">Recolección Selectiva</a>
                <a href="compostaje.html">Compostaje</a>
                <a href="tienda.html"><i class="fa-solid fa-shop" style="color: #557761;"></i>Tienda</a>

            </nav>
        </div>
    </header>

<main>

    <h1 class="bloque">Recolección Selectiva</h1>

<section class="servicios">
<div>
<div class="serviciosImagen">
<img src="../public/img/residuoEspecial.jpg" alt="">
</div>
<div>
<h1>RESIDUOS ESPECIALES Y/O PELIGROSOS</h1>
<p>Considerenos como un proveedor para satisfacer la necesidad en el retiro de residuos especiales y/o peligrosos. Contamos con la disponibilidad de equipos, instalaciones y experiencia para ayudar a desarrollar la gestión de residuos de su empresa.</p>
</div>
</div>

<div>
<div class="serviciosImagen">
    <img src="../public/img/residuoNoEspecial.jpg" alt="">
</div>
<div>
    <h1>RESIDUOS NO ESPECIALES</h1>
    <p>Independientemente del tamaño o sector de su empresa, ofrecemos un servicio de recoleccion de residuos personalizado que se adapta a sus necesidades y ayuda a proteger el medio ambiente.</p>
</div>
</div>

<div>
    <div class="serviciosImagen">
        <img src="../public/img/residuoPatogenico.jpg" alt="">
    </div>
    <div>
        <h1>RESIDUOS PATOGENICOS</h1>
        <p>Ofrecemos la disponibilidad de distintos tamaños de embalajes y con recoleccion programada para hospitales, consultorios y clinicas.</p>
    </div>
    </div>
    
    <div>
        <div class="serviciosImagen">
            <img src="../public/img/servicioReciclado.jpg" alt="">
        </div>
        <div>
            <h1>SERVICIO DE RECICLADO</h1>
            <p>Nuestros expertos podran ofrecerle la creacion de programas de reciclaje a medida que mejoran la operacion de su empresa, cumpliendo con los requisitos reglamentarios, y logrando el cuidado del medio ambiente.</p>
        </div>
        </div>

        <div>
            <div class="serviciosImagen">
                <img src="../public/img/residuoElectronico.jpg" alt="">
            </div>
            <div>
                <h1>RESIDUOS ELECTRONICOS</h1>
                <p>Retiramos y transportamos aparatos eléctricos y electrónicos de su empresa. Este tipo de residuo es procesado y sometido a una clasificacion para su correcto tratamiento apuntando a realizar operaciones ambientalmente adecuadas al menor costo posible.</p>
            </div>
            </div>

            <div>
                <div class="serviciosImagen">
                    <img src="../public/img/asesoriaAmbiental.jpg" alt="">
                </div>
                <div>
                    <h1>ASESORIA AMBIENTAL</h1>
                    <p>Podemos asesorarlo en todas las cuestiones legales ambientales. Desde la ingeniería para minimización de generación de residuos, pasando por asesoramiento normativo hasta estudios de impacto ambiental.</p>
                </div>
                </div>
</section>


<div class="iralHome">
<a href="index.html">Ir al Home <i class="fa-solid fa-house"></i></a>
</div>
    

</main>
    <footer>
        <div class="menufooter">
            <h3><i class="fa-solid fa-location-dot"></i>Nuestra Ubicación</h3>
            <h4>Diagonal 73 nro 111 - La Plata - Pcia de Bs. As.</h4>
            <h3><i class="fa-solid fa-phone" style="color: #557761;"></i>Comunicate con nosotros</h3>
            <h4>tel (221) 555-5555</h4>
        </div>
        <div class="menufooter">
            <h3>Redes</h3>
            <h4><i class="fa-brands fa-instagram" style="color: #557761;"></i>Instagram</h4>
            <h4><i class="fa-brands fa-facebook" style="color: #557761;"></i>Facebook</h4>
            <h4><i class="fa-brands fa-twitter" style="color: #557761;"></i>twitter</h4>
            <h4><i class="fa-brands fa-whatsapp" style="color: #557761;"></i>whatsapp</h4>
        </div>
        <div class="menufooter">
            <h3>Medios de Pagos</h3>
            <h4>Aceptamos todos los medios de pagos</h4>
            <i class="fa-solid fa-credit-card" style="color: #557761;"></i>
            <i class="fa-brands fa-paypal" style="color: #557761;"></i>
        </div>
        <div class="menufooter3">
            <h3>Nuestro horario</h3>
            <h4>Lunes a viernes de 8 a 16 hs.</h4>
            <h3>Escribinos</h3>
            <i class="fa-solid fa-envelope" style="color: #557761;"></i>
            <h4>energiaviva@gmail.com</h4>
        </div>
        <div class="derechos">
            <h4>Todos los derechos reservados - Energía Viva</h4>
            <i class="fa-regular fa-registered" style="color: #557761;"></i>
        </div>

    </footer>


</body>

</html>