<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7f4aae58a.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Tienda</title>
</head>

<body>
    <header>
        <div class="contenedorimagen">
            <img class="img" src="/public/img/logo.jpg" alt="logo de la empresa">
        </div>

        <div>
            <nav>
                <a href="concientizacion.html">Sustentabilidad</a>
                <a href="recoleccionSelectiva.html">Recolección Selectiva</a>
                <a href="compostaje.html">Compostaje</a>
                <a href="tienda.html"><i class="fa-solid fa-shop" style="color: #557761;"></i>Tienda</a>
           


            </nav>
        </div>
    </header>

    <section class="productotienda">
      <main class="mainDestacados">
         <section class="contenedorProdutos">
          <div class="producto">
              <img src="/public/img/humus de lombriz.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="producto__title">humus de lombriz</h3>
              <spam class="producto__price">$180.00</spam>
          </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="producto">
              <img src="/public/img/semillas.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="producto__title">semillas</h3>
              <spam class="producto__price">$200.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="producto">
              <img src="/public/img/compostera.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="producto__title">compostera</h3>
              <spam class="producto__price">$320.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="producto">
              <img src="/public/img/tierra.jpg" alt="" class="produto__img">
           <div class="productDescription">
            <h3 class="producto__title">tierra</h3>
            <spam class="producto__price">$450.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="producto">
            <img src="/public/img/bolsas.jpg" alt="" class="produto__img">
          <div class="productDescription">
            <h3 class="producto__title">bolsas de residuos</h3>
            <spam class="producto__price">$240.00</spam>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        <div class="producto">
            <img src="/public/img/cestoverde.jpg" alt="" class="produto__img">
          <div class="productDescription">
            <h3 class="producto__title">cesto de basura verde</h3>
            <spam class="producto__price">$540.00</spam>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        <div class="producto">
            <img src="/public/img/librocomposta.jpg" alt="" class="produto__img">
          <div class="productDescription">
            <h3 class="producto__title">libro de compostaje</h3>
            <spam class="producto__price">$1200.00</spam>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        <div class="producto">    
            <img src="/public/img/cestobasura.jpg" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="producto__title">cesto de basura</h3>
            <spam class="producto__price">$650.00</spam>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>
        </section>
      </main>
    </section>

        
        <a href="index.html">Ir al Home</a>

    </main>
    <footer>
        <div class="menufooter">
            <h3><i class="fa-solid fa-location-dot"></i>Nuestra Ubicación</h3>
            <h4>Diagonal 73 nro 111 - La Plata - Pcia de Bs. As.</h4>
            <h3><i class="fa-solid fa-phone" style="color: #557761;"></i>Comunicate con nosotros</h3>
            <h4>tel (221) 555-5555</h4>
        </div>
        <div class="menufooter">
            <h3>Redes</h3>
            <h4><i class="fa-brands fa-instagram" style="color: #557761;"></i>Instagram</h4>
            <h4><i class="fa-brands fa-facebook" style="color: #557761;"></i>Facebook</h4>
            <h4><i class="fa-brands fa-twitter" style="color: #557761;"></i>twitter</h4>
            <h4><i class="fa-brands fa-whatsapp" style="color: #557761;"></i>whatsapp</h4>
        </div>
        <div class="menufooter">
            <h3>Medios de Pagos</h3>
            <h4>Aceptamos todos los medios de pagos</h4>
            <i class="fa-solid fa-credit-card" style="color: #557761;"></i>
            <i class="fa-brands fa-paypal" style="color: #557761;"></i>
        </div>
        <div class="menufooter3">
            <h3>Nuestro horario</h3>
            <h4>Lunes a viernes de 8 a 16 hs.</h4>
            <h3>Escribinos</h3>
            <i class="fa-solid fa-envelope" style="color: #557761;"></i>
            <h4>energiaviva@gmail.com</h4>
        </div>
        <div class="derechos">
        <h4>Todos los derechos reservados - Energía Viva</h4>
        <i class="fa-regular fa-registered" style="color: #557761;"></i>
        </div>

    </footer>
</body>

</html>